@use '../../assets/styles/common.scss';
@use '../../assets/styles/variables.scss' as vars;

.site-header {
  position: sticky;
  left: 0;
  top: 0;

  background-color: #fff;
}

.header__wrapper {
  padding: 30px 40px;
}

.logo__title, .logo__subtitle, .menu__link {
  color: vars.$color-dark-l;
}

.pets-content {
  background-color: vars.$color-light-l;
  &__wrapper {
    padding-top: 80px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.pets {
  &__catalog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
  }

  &__controls {
    display: flex;
    gap: 20px;
  }
}

