@use './assets/styles/common.scss';
@use './assets/styles/variables.scss' as vars;

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-header {
  position: absolute;
  top: 60px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;

  &__title {
    padding-bottom: 10px;

    font-family: 'Georgia', serif;
    font-weight: normal;
    font-size: 35px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: vars.$color-primary;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 15px;
    color: vars.$color-light-xl;
    letter-spacing: 0.1em;
  }
}

.menu {
  &__wrapper {
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;

    &--active {
      border-bottom: 3px solid vars.$color-primary;
    }

    &:hover {
      border-bottom: 3px solid vars.$color-primary;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 160%;
    color: vars.$color-dark-s;
    text-decoration: none;
  }
}

.main__start-page {
  padding-top: 340px;
  height: 908px;

  background: {
    image: 
      url('./assets/images/start-screen-puppy.png'),
      url('./assets/images/start-screen-background.png');
    position: right bottom, left top;
    size: 700px, cover;
    repeat: no-repeat, no-repeat;
  };
}

.content {
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 42px;
    max-width: 460px;

  &__heading {
    margin: 0;
    padding: 0;

    font-family: Georgia, serif;
    font-size: 44px;
    font-weight: normal;
    line-height: 130%;
    color: vars.$color-light-xl;
  }

  &__text {
    line-height: 160%;
    color: vars.$color-dark-s;
  }

  &__button {
    padding: 15px 45px;

    background-color: vars.$color-primary;
    border-radius: 100px;
    border: none;

    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 130%;
    font-style: normal;
    font-weight: normal;
    columns: vars.$color-dark-3xl;

    cursor: pointer;

    &:hover {
      background-color: vars.$color-primary-light;
    }
  }
}

.about__wrapper {
  padding: 80px 40px 100px 50%;
  min-height: 588px;

  background: {
    image: url('./assets/images/about-pets.png');
    position: 25%;
    repeat: no-repeat;
  };
}

.cozy {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  &__heading {
    margin: 0;
    padding: 0;

    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: vars.$color-dark-l;
  }

  &__text {
    font-size: 15px;
    line-height: 160%;
    color: vars.$color-dark-xl;
  }
}
