@use '../common/common.scss';
@use '../common/_variables.scss' as vars;

.site-header {
  position: sticky;
  left: 0;
  top: 0;

  background-color: #fff;
}

.header {
  &__wrapper {
    padding: 30px 40px;
  }
}

.logo__title, .logo__subtitle, .menu__link {
  color: vars.$color-dark-l;
}

.menu__item--active > .menu__link {
  color: vars.$color-dark-3xl;
}

.menu__item:hover > .menu__link {
  color: vars.$color-dark-3xl;
}

.burger-button--primary svg {
  stroke: vars.$color-primary;
}

@media screen and (max-width:767px) {
  .burger__logo > .logo__title {
    color: vars.$color-primary;
  }

  .burger__logo > .logo__subtitle {
    color: vars.$color-light-xl;
  }

  .burger__item > .burger__link {
    color: vars.$color-dark-s;
  }
  
  .burger__item--active > .burger__link {
    color: vars.$color-light-s;
  }
}

.pets-content {
  background-color: vars.$color-light-l;

  &__wrapper {
    padding-top: 80px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.pets {
  &__catalog {
    width: 100%;
    max-height: 1365px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    overflow: hidden;
  }

  &__controls {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width:1279px) and (min-width:768px) {
  .header {
    &__wrapper {
      padding: 30px 30px;
    }
  }
}

@media screen and (max-width:767px) {
  .header {
    &__wrapper {
      padding: 30px 10px;
    }
  }

  .pets-content {  
    &__wrapper {
      padding-top: 42px;
      padding-bottom: 42px;
    }
  }

  .pets {
    &__controls {
      gap: 10px;
    }
  }
}

