@use '../../common/_variables.scss' as vars;

.main-pets {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: vars.$color-light-l;
}

.pets {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__container {
    position: relative;
    height: 435px;
    width: calc(100% * 3);
    display: flex;
  }

  .carousel-item {
    position: absolute;
    top: 0;
    height: 435px;
    width: calc(100% / 3);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    transition: left 0.7s;
  }

  &__controllers {
    display: flex;
    gap: 80px;
    justify-content: center;
  }

  &__control {
    position: absolute;
    top: 45%;
  }

  &__back {
    left: 0;
  }

  &__next {
    right: 0;
  }
}

@media screen and (max-width:767px) {
  .slider {
    &__control {
      position: static;
      top: 45%;
    }

    &__controllers {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
  .main-pets {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pets {
    &__wrapper {
      gap: 0px;
    }

    &__heading {
      margin-bottom: 40px;
    }
  }
}