@use '../../common/_variables.scss' as vars;

.main-pets {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: vars.$color-light-l;
  max-height: 877px;
}

.pets {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  &__control {
    position: absolute;
    top: 45%;
  }

  &__back {
    left: 0;
  }

  &__next {
    right: 0;
  }
}