@use './fonts.scss';
@use './normalize.scss';
@use './buttons.scss';
@use './variables.scss' as vars;

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 16.5px;
  color: vars.$color-dark-l;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.heading--primary {
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: vars.$color-dark-l;
}