@use './fonts.scss';
@use './normalize.scss';
@use './buttons.scss';
@use './variables.scss' as vars;

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 16.5px;
  color: vars.$color-dark-l;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.heading--primary {
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: vars.$color-dark-l;
}

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;

  &__title {
    padding-bottom: 10px;

    font-family: 'Georgia', serif;
    font-weight: normal;
    font-size: 35px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: vars.$color-primary;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 15px;
    color: vars.$color-light-xl;
    letter-spacing: 0.1em;
  }
}

.menu {
  &__wrapper {
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;

    &--active {
      border-bottom: 3px solid vars.$color-primary;
    }

    &:hover {
      border-bottom: 3px solid vars.$color-primary;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 160%;
    color: vars.$color-dark-s;
    text-decoration: none;
  }
}